<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<div class="container">
       			 {{ content }}
		</div><!-- /.container -->
		
		<footer>
    		<ul>
        		<li><a href="mailto:billy.d.chen@gmail.com">Email</a></li>
			<li><a href="https://scholar.google.com/citations?hl=en&user=wwwTbTYAAAAJ">Google Scholar</a></li>
        		<li><a href="https://github.com/bchen00">GitHub</a></li>
			</ul>
		</footer>
	</body>
</html>
