<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" href="css/main.css">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-G1FR9CFB2L"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-G1FR9CFB2L');
		</script>
	</head>
	<body>
		<div class="container">
       			 {{ content }}
		</div><!-- /.container -->
	</body>
	
	<footer>
    		<ul>
        		<li><a href="https://github.com/bchen00/bchen00.github.io">src</a></li>
		</ul>
	</footer>
	
</html>
